.text_header {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #3498DB;
}

.subtext_header{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: italic;
}

.post_detail{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.exception{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: red;
}

.destacados {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #3498DB;
}

.por{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #3498DB;
}

.detalle{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: black;
}

.center {
    /* margin: auto; */
    width: 100%;
    /* padding: 10px; */
    overflow-x: auto;
}

.hide {
    visibility: hidden;
    display: none;
}

.bordercell {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
}